<div class="modal fade" tabindex="-1" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(orderForm) }}
            <div class="modal-body">
                {{ form_row(orderForm.phone) }}
                {{ form_row(orderForm.email) }}
                {{ form_row(orderForm.text) }}
            </div>
            <div class="modal-footer">
                {{ form_row(orderForm.save) }}
            </div>
            {{ form_end(orderForm) }}


        </div>
    </div>
</div>

<script>
    function launchModal(actionText) {
        let orderModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        })
        document.getElementById('order_actionText').value = actionText;
        orderModal.toggle();
    }
</script>